<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <footer>
        <div class="footer">
          <div class="social">
            <a href="/"><img src="/svg/instagram.svg" alt=""></a>
            <a href="/"><img src="/svg/facebook.svg" alt=""></a>
            <a href="/"><img src="/svg/youtube.svg"></a>
            
          </div>
          <div class="link">
            <a href="#">TermOfUse</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Copyright Furniture Limited</a>
    
          </div>
        </div>
      </footer>
    
</body>
</html>

