<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <%- include('includes/header') %>

        <div class="about-cont">
            <div class="title"><h1>ABOUT US</h1></div>
            <div class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem doloremque eum incidunt animi, molestias
                hic, repellat quidem doloribus quos amet adipisci consequatur similique nemo cum libero, inventore expedita
                et illo.
                Et odit natus saepe id ratione ex similique accusamus veritatis? Numquam adipisci aspernatur tempore, libero
                placeat sunt magnam asperiores illum voluptatibus, cumque aut quasi? Consequatur officia ipsam eum. Quasi,
                aperiam.
                Ut possimus quos natus eius! Sint odio quidem itaque. Veritatis fugiat, quam, explicabo, accusantium nisi
                unde officia tempore sint ipsa ea commodi dicta aperiam tempora quis reprehenderit soluta sit laudantium.
                Perspiciatis, maiores. Optio, adipisci eaque reiciendis, repellat fugit, ducimus sed porro fuga nostrum
                laboriosam facilis! Amet suscipit maxime molestiae optio cupiditate debitis, fugit sint consequuntur labore
                beatae exercitationem sed fugiat?
                Molestias eos similique unde repellendus consequuntur doloribus laborum fugiat! Deserunt a odio sequi quia,
                exercitationem voluptas consequatur cumque eligendi numquam ipsam recusandae magnam vel praesentium tempora
                saepe quod. Aliquam, fuga. cia inventore nobis laboriosam incidunt neque culpa distinctio veniam obcaecati
                consectetur, dolor itaque eos nostrum fugiat eius tempore dolorum iusto magni. Temporibus dicta nobis
                consectetur voluptates voluptatum!
                Nesciunt enim est, necessitatibus dolorum consequuntur amet doloribus quam sed delectus! Enim rerum sed
                dolor aliquam illum praesentium incidunt officia quam perspiciatis, culpa molestias voluptas quas. Itaque at
                ad unde?
            </div>
           
        </div>

</body>

</html>