<%- include('includes/header') %>
<%- include('includes/flash') %>


  <body>
    <div class="page">
      <div class="page-image">
        <img
          src="https://images.unsplash.com/photo-1595844730298-b960ff98fee0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="abc">
      </div>
      <div class="page-text">
        <h1>Upgrade Your Living <br> Experience <span> Now!</span></h1>
        <a href="/product"><button class="btn">Browse Product &nbsp; <i class="fa-solid fa-arrow-right"></i></button></a>
      </div>
    </div>
    <div class="service">
      <div class="service-title">
        What we do
      </div>
      <div class="work-card">

        <div class="work">

          <img
            src="https://images.unsplash.com/photo-1599651993975-30a482e26467?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2FycGVudGVyfGVufDB8MXwwfHx8Mg%3D%3D"
            alt="">

          <h3>Custom Carpentry Solutions</h3>
          <p>Crafting bespoke furniture and fixtures tailored to meet individual tastes and functional needs.</p>

        </div>
        <div class="work">

          <img
            src="https://images.unsplash.com/photo-1606077089838-0ac4a27fc96f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNhcnBlbnRlcnxlbnwwfDF8MHx8fDI%3D"
            alt="">

          <h3>Quality Craftsmanship</h3>

          <p>Dedicated to superior craftsmanship, using premium materials to ensure durability and aesthetic appeal.</p>

        </div>
        <div class="work">

          <img
            src="https://images.unsplash.com/photo-1512618972563-88c0dcd8e85f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGNhcnBlbnRlcnxlbnwwfDF8MHx8fDI%3D"
            alt="">


          <h3>Renovation and Restoration</h3>

          <p>Expert in restoring and updating old structures, enhancing them with functional woodwork.</p>
        </div>
        <div class="work">
          <img
            src="https://images.unsplash.com/photo-1624301978125-9e84345adebe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fGNhcnBlbnRlcnxlbnwwfDF8MHx8fDI%3D"
            alt="">

          <h3>Sustainable Practices</h3>
          <p>Committed to environmental responsibility, using sustainable materials and methods to minimize ecological
            impact.</p>
        </div>
      </div>

    </div>
    <div class="target">
      <div class="target-child">
        <div class="icon">
          <i class="fa-solid fa-chair"></i>
        </div>
        <div>
          <h1>2K+</h1>
          <h4>Project Completed</h4>
        </div>
      </div>
      <div class="target-child">
        <div class="icon">
          <i class="fa-solid fa-chair"></i>
        </div>
        <div>
          <h1>1.5K+</h1>
          <h4>Team Members</h4>
        </div>
      </div>
      <div class="target-child">
        <div class="icon">
          <i class="fa-solid fa-chair"></i>

        </div>
        <div>
          <h1>1.5K+</h1>
          <h4>Happy Clients</h4>
        </div>
      </div>
      <div class="target-child">
        <div class="icon">
          <i class="fa-solid fa-chair"></i>
        </div>

        <div>
          <h1>1K+</h1>
          <h4>Award Wins</h4>
        </div>

      </div>
    </div>
    <div class="choose-title">
      Why Choose Us
    </div>
    <div class="choose">
      <div class="choose-content">
        <h1>"Your Ultimate Destination for Exceptional Furniture."</h1>
        <div class="choose-content-img">
          <div class="choose-g1">
            <div class="choose-content-img1"><h4>Quality Craftsmanship</h4></div>
            <div class="choose-content-img2"><h4>Customization Options</h4></div>
          </div>
          <div class="choose-g1">
            <div class="choose-content-img3"><h4>Exceptional Service</h4></div>
            <div class="choose-content-img4"><h4>Sustainability Commitment</h4></div>

          </div>

        </div>
      </div>
      <div class="choose-img">
        <img
          src="https://images.unsplash.com/photo-1544164560-adac3045edb2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2FycGVudGVyfGVufDB8fDB8fHww"
          alt="">
      </div>

    </div>
    <div class="enquiry">
      <div class="enq-cont">
        <h1>Have An Upcoming Project?</h1>

        <h1>Lets's Discuss</h1>
        <br>
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum aliquid distinctio ipsam labore?
          Accusantium sed quasi illum error reprehenderit id laborum consequuntur, voluptatum reiciendis sapiente optio
          minima sunt animi quisquam.
        </p>
        <br>
        <a href="./contact"><button class="btn"> Contact Us</button></a>
        <div class="line">
          <hr>
        </div>
      </div>
    
      <div class="enq-form">
        <h1>Request A Quote</h1>
        <form method="POST" class="enq-contact" action="https://api.web3forms.com/submit">
          <input name="name" type="text" id="name" required placeholder="Name*">
          <input inputmode="email" name="email" type="email" id="email" required placeholder="Email*">
          <input inputmode="numeric" name="number" type="number" id="number" required placeholder="Number*">
          <input name="message" type="text" id="name" required placeholder="Your message*">
          <div class="butn">
            <button class="btn">Submit</button>
          </div>


        </form>

      </div>
    </div>
    <div class="testimonial">
      <h1>What Our Client Say?</h1>
      <div class="test-card">
        <div class="test-card-cont">
          <i class="fa-solid fa-user-tie"></i>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae explicabo similique ipsum tenetur
            cumque delectus magnam, doloribus veniam, est</p>
          <br>
          <p>Username</p>
        </div>
        <div class="test-card-cont">
          <i class="fa-solid fa-user-tie"></i>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae explicabo similique ipsum tenetur
            cumque delectus magnam, doloribus veniam, est</p>
            <br>
            <p>Username</p>

        </div><div class="test-card-cont">
          <i class="fa-solid fa-user-tie"></i>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae explicabo similique ipsum tenetur
            cumque delectus magnam, doloribus veniam, est</p>
            <br>
            <p>Username</p>

        </div>
      </div>
      
    </div>
    <%- include('includes/footer') %>

  </body>